body {
    margin: 0;
}
 
.navbar {
    height: 68px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,'Helvetica Neue',Arial,'Noto Sans',sans-serif;
    font-size: 1em;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1c2742;
    padding-left: 250px;
    padding-right: 250px;
}
 
#logo{
    font-size: 1.3em;
    font-weight: 800;
}
 
#green-logo {
    color: green;
}
 
.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 17px;
}
 
.navbar a:hover{
    color: green;
    text-decoration: underline;
}
 
.button{
    text-align: center;
    color: black;
    font-size: 1em;
    font-weight: 700;
    background-color: green;
    padding: 0.6em 1em;
    border-radius: 0.6em;
}
 
.button:hover {
    color: green;
    background-color: black;
}
 
.hero {
    height: 25%;
    background-color: rgba(34,197,94,.3);
    padding: 70px;
    display: flex;
    justify-content: center;
}
 
.hero-content {
    max-width: 35%;
    color: #1c2742;
    padding-right: 100px;
}
 
.hero-content h1 {
    font-size:clamp(2rem,3.5vw,3rem);line-height:1.2;margin:0;
}
 
.hero-content p {
    width: 90%;
    font-size: 1.3em;
    margin-bottom: 50px;
}
 
.hero-img {
    max-width: 39%;
    border-radius:1rem;
    border:1px solid #1c2742;
}
 
.hero img {
    height: 100%;
    width: 100%;
    border-radius:1rem;
}
 
.hero-content button{
    margin-right: 20px;
}
 
.hero-content a{
    color: #1c2742;
    text-decoration: none;
}
 
.hero-content a:hover {
    color: green;
    text-decoration: underline;
}
 
.team-presentation{
    color: white;
    background-color: #1c2742;
    text-align: center;
    padding: 80px 180px 80px 180px;
}
 
.team-presentation h1{
    font-size:clamp(2rem,3.5vw,3rem);line-height:1.2;margin:0;   
}
 
.team-presentation p{
    font-size: 1.3em;
    margin-bottom: 50px; 
}
 
.team{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}
 
.team-card {
    color: white;
    background-color: rgba(34,197,94,.3);
    height: auto;
    width: 400px;
    padding: 15px;
    padding-top: 30px;
    border-radius: 5%;
}
 
.team-card a {
    color: white;
    text-decoration: none;
}
 
footer{
    background-color: rgba(34,197,94,.3);
    text-align: left;
    line-height: 2em;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}